@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
/* tag */
.tag{
    height:100px;
}
/* navbar brand styling */
.navbar-brand{
    color: #6B6B5F !important;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 2em;
    margin-left: 20px;
}
/* navbar styling */
.navbar{
    background-color: #141601 !important;
}
/* nav-link styling */
.nav-link{
    color: red !important;
}
/* offcanvas button */
.offcanvas-header button{
    margin-left: 320px;
} 